{% extends "shop/base.html" %}
{% load static %}

{% block title %}
    Адреса магазинов
{% endblock %}

{% block content %}
    <div class='header-adress'>
        <h1>Адреса магазинов "Дом немецкой посуды" на карте</h1>
    </div>
    <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A24c0897179ff0ce430c28a9479256f336429c2cdc1397e4bea2cdcf41fec2789&amp;width=100%25&amp;height=650&amp;lang=ru_RU&amp;scroll=true"></script>
{% endblock %}